<p>Shown <b>{{getShownPages()}}</b> of <b>{{courses.length}}</b> results</p>
<div class="pagination-wrapper">
    <ul class="pagination-container">
        <li><button class="btn btn-small btn-blue"><i class="fas fa-angle-double-left"></i></button></li>
        <li><button class="btn btn-small btn-blue"><i class="fas fa-angle-left"></i></button></li>
        <li *ngFor="let pageBtn of pages">
            <button class="btn btn-small btn-blue" (click)="onClickPaginationBtn(pageBtn)">{{pageBtn}}</button>
        </li>
        <li><button class="btn btn-small btn-blue"><i class="fas fa-angle-right"></i></button></li>
        <li><button class="btn btn-small btn-blue"><i class="fas fa-angle-double-right"></i></button></li>
    </ul>
</div>

