<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <p class="loading-error" *ngIf="shouldShowError">Incorrect user or password, try again(admin, admin)</p>
    <div class="input-container">
        <label class="label label-required" for="login">Login</label>
        <input id="login" class="input" type="text" name="login"
          placeholder="login" formControlName="login" (ngModelChange)="onModelChanged($event)" />
        <p class="input-error" *ngIf=
            "userForm.controls['login'].errors
            && userForm.controls['login'].touched
            && userForm.controls['login'].errors.required"
        >Login is required</p>
        <p class="input-error" *ngIf=
            "userForm.controls['login'].errors
            && userForm.controls['login'].touched
            && !userForm.controls['login'].errors.required
            && userForm.controls['login'].errors.minlength"
        >Login should have at least 3 characters</p>
    </div>
    <div class="input-container">
        <label class="label label-required" for="password">Password</label>
        <input id="password"  class="input" type="password" name="password"
          placeholder="password" formControlName="password" (ngModelChange)="onModelChanged($event)" />
        <p class="input-error"*ngIf=
            "userForm.controls['password'].errors
            && userForm.controls['password'].touched
            && userForm.controls['password'].errors.required"
        >Password is required</p>
        <p class="input-error" *ngIf=
            "userForm.controls['password'].errors
            && userForm.controls['password'].touched
            && !userForm.controls['password'].errors.required
            && userForm.controls['password'].errors.minlength"
        >Password should have at least 3 characters</p>
    </div>
    <div class="submit-container">
        <button class="btn btn-solid btn-green" type="submit" [disabled]="userForm.invalid">Log in</button>
    </div>
</form>
