<app-breadcrumbs [path]="pagePath"></app-breadcrumbs>
<app-toolbox (filtred)="onFiltredCourse($event)"></app-toolbox>
<button
  class="btn btn-large" (click)="toggleCoursesVisibility()">
  {{shouldShowCourses ? 'Hide' : 'Show'}} courses
</button>
<app-course-list
    *ngIf="shouldShowCourses"
    [courses]="courses"
    [courses-per-page]="coursesPerPage"
    (deleted)="onDeleteCourse($event)">
</app-course-list>
<app-courses-pagination
    *ngIf="shouldShowCourses && courses.length > 0"
    [courses-per-page]="coursesPerPage" [courses]="courses">
</app-courses-pagination>
