<app-breadcrumbs [path]="pagePath"></app-breadcrumbs>
<app-toolbox (filtred)="onFiltredCourse($event)"></app-toolbox>
<app-modal-window
    *ngIf="shouldShowModal" modalTitle="WAT???!!!" submitText="Delete"
    (submitModal)="onSubmitModal()" (closeModal)="onCloseModal()">
      <p>Do you really want to delete course <b>"{{courseToDelete.title | capitalized}}"</b> by <b>{{courseToDelete.author}}</b>???</p>
</app-modal-window>
<app-course-list
    [courses]="courses"
    [coursesPerPage]="coursesPerPage"
    (deleted)="onDeleteBtnPressed($event)">
</app-course-list>
<app-courses-pagination
    *ngIf="courses.length > 0"
    [coursesPerPage]="coursesPerPage" [courses]="courses">
</app-courses-pagination>
