<section class="course-container">
    <div class="course-img__container">
        <img [src]="course.img" alt="Course image">
    </div>
    <div class="course-info__container">
        <app-course-list-item-header [course]="course"></app-course-list-item-header>
        <app-course-list-item-body [course]="course"></app-course-list-item-body>
        <app-course-list-item-footer
            [duration]="course.duration"
            [rating]="course.rating"
            [startDate]="course.date"
            [trainers]="course.trainers">
        </app-course-list-item-footer>
    </div>
</section>
