html {
    font-size: @font-size;
}

html, body {
    height: 100%;
}

body,
input,
button,
textarea {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    position: relative;
    min-width: @min-width;
    overflow-x: hidden;
    color: @text-color;
    line-height: @base-line-height;

    &.with-modal {
        overflow: hidden;
        padding-right: 17px;
    }
}

* {
    box-sizing: border-box;
}

.wide > * {
    max-width: @max-width;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    max-width: @max-width;
    margin: 0 auto;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
    color: @link-color;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.highlight-by-text {
    color: @input-error-color;
}

