/* ===== colors ===== */

@white: #ffffff;
@black: #000;
@cadetblue: #198488;
@text-color: #666666;
@link-color: #0070d2;
@main-color: #54698d;
@btn-color: #54698d;
@light-grey: #c9c9c9;
@input-text-color: #4a4949;
@fuchsia: #b23a6b;
@grass: #62a231;

@blue:#30b6dd;


/* ===== btns colors ===== */

@btn-blue: @blue;
@btn-blue-hover: #5fcfd9;
@btn-blue-active: #1887bb;

@btn-green: #9bc837;
@btn-green-hover: #c8de49;
@btn-green-active: #62a231;

@btn-red: #de3333;
@btn-red-hover: #ff4e33;
@btn-red-active: #ee3f20;

@btn-grey: #d9dbe3;
@btn-grey-hover: #eaedf5;
@btn-grey-active: #c0c3ce;
@btn-grey-text-color: #494e5c;

@footer-bg-color: @main-color;
@header-bg-color: @cadetblue;
@breadcrumbs-bg-color: @main-color;

/* ===== form colors ===== */

@input-border-color: #d9dbe3;
@input-active-border-color: @blue;
@placeholder-color: #c0c3ce;


/* ===== other colors ===== */
@bookmark-icon-color: @grass;
@star-icon-color: @fuchsia;


@header-height: 50px;
@footer-height: 50px;

/* ===== fonts ===== */

@font-size: 10px;
@base-line-height: 1.428571429;

/* ===== fonts ===== */

@max-width: 1600px;
@min-width: 320px;
