@import 'variables';

:host, :host > div {
    height: 100%;
}

app-header {
    min-height: @header-height;
}

app-header + * {
    min-height: calc(100% - @header-height - @footer-height);
    display: block;
}

app-footer {
    min-height: @footer-height;
}
