<div class="modal-content">
    <div class="modal-header">
        <h2>{{modalTitle}}</h2>
        <button class="close-modal btn-container" (click)="onClose()"><i class="fas fa-times"></i></button>
    </div>
    <div class="modal-body">
        <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button class="btn btn-solid btn-blue" (click)="onClose()">Cancel</button>
      <button class="btn btn-solid btn-red" (click)="onSubmit()">{{submitText}}</button>
    </div>
</div>


