<section>
    <ul class="tag-it">
        <li class="tag-it__item" *ngFor="let item of items">
            {{item.name}}
            <span class="btn-container delete-btn" (click)="onClick(item.id)">
                <i class="fas fa-times"></i>
            </span>
        </li>
        <li class="tag-it__input-container">
            <input
                [id]="tagItId"  type="text" required
                [name]="tagItId" [placeholder]="'Start type ' + tagItId + ' name'" [(ngModel)]="newItemName"
                (keydown)="onKeyDown($event)" (blur)="onBlur()" (focus)="onFocus()" />
        </li>
    </ul>
    <div class="all-items__list-container">
      <ul class="all-items__list">
          <li class="all-items__list-item" *ngFor="let letter of itemsForListLetters">
              <span class="letter-items__letter">{{letter}}</span>
              <ul class="letter-items__list">
                  <li *ngFor="let item of itemsForList[letter]">
                      <!-- <a class="letter-items__list-item btn-container" [appHighlightByText]='newItemName'>{{item.name}}</a> -->
                      <a class="letter-items__list-item btn-container">{{item.name}}</a>
                  </li>
              </ul>
          </li>
      </ul>
      <div class="buttons-container">
          <button class="btn-container tag-it__btn">Hide all</button>
          <button class="btn-container tag-it__btn">Add new {{tagItId}}</button>
      </div>
    </div>
</section>

