@import "variables";
@import "mixins";

form {
    max-width: 900px;
    margin: 0 auto;
}

.duration-container {
    display: flex;
    align-items: flex-end;

    & .input-container {
        max-width: 60%;
    }

    P {
      margin-left: 20px;
      font-size: 1.6rem;
      line-height: 48px;
    }
}

.bnts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}
